<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="stylesheets/style.css">
	<title>Me Me Me</title>
</head>

<body>
<nav>
	<ul>
		<li><a href="/"> Home </a></li>
		<li><a href="#"> About Me</a></li>
		<li><a href="about_you"> About You</a></li>
		<li><a href="#"> Contact </a></li>
	</ul>
</nav>

<header>
	<div class="header-image">
		<img class="header-img" src="images/kauai_header5.png" alt="page header">
	</div>
</header>
<div class="blog">
	<!-- <aside>

		<div id="countdown">
			<h1>Weather in Kauai</h1>
			<h1>Today's Schedule</h1>
			<h1>Popscicle Count</h1>
			<h1>Hawaiian Word of the Day</h1>		
			<h1>Days Left:</h1>
			<h2>240 Days!</h1>
		</div>
			
		<div id="upcoming plans">
			<ul>
				<li>Find a hotel</li>
				<li>Cook a dish</li>
			</ul>
		</div>
			
		<div>
	</aside> -->
	<section class=posts>
		<article>
			<h1>Hello (and Goodbye)</h1>
			<p> Folks, what we have here is called a "website". We'll start with a quick Q&A, those are always good:</p>
				<ul>
				    <li><p><strong>Q: What is this?</strong></p><p>A: This is a website. I already answered that. Not off to a great start are we.</p></li>
					<li><p><strong>Q: How often will you update it?</strong></p><p>A: Well, I really don't know</p></li>
					<li><p><strong>Q: Why doesn't it look so great?</strong></p><p>A: This isn't easy, okay?</p></li>
					<li><p><strong>Q: Why don't the links work?</strong></p><p>A: This isn't easy, okay?</p></li>
					<li><p><strong>Q: Why does it look so messed up on my (tablet/iphone/ipad)?</strong><p>A: THIS ISN'T EASY, OKAY?</p></li>
				</ul>
			<p>Okay, glad that's done. Basically, I decided to make this as a place to </p>
		</article>

	</section>
</div>
</body>
</html>